.bildklein{
    width: 50%;
    height: auto;
}

.row {
    background-color: rgba(0, 0, 0, 0.179);
}

.text{
    color: white;
}
p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 213%;

}
.header{
    
   
 
}
body{
   background: linear-gradient(0deg, rgb(2, 44, 5) 0%, rgb(66, 165, 104) 27%, rgb(255, 255, 255) 60%, rgba(60, 173, 60, 0.381) 100%)
}
